<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>KontrolPanel</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">KontrolPanel</a>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <span data-feather="box"></span>
                Deployments <span class="sr-only"></span>
              </a>
              <a class="nav-link" href="/configmaps">
                <span data-feather="life-buoy"></span>
                Configmaps <span class="sr-only"></span>
              </a>
              <a class="nav-link active" href="/helm">
                <span data-feather="map"></span>
                Helm (BETA) <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Helm charts (2)</h1>
      </div>

<!--       <div class="card card-accent-info mb-3">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
        </div>
      </div> -->

      <div class="jumbotron">
        <div class="card-columns">
          <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='img/helm/grafana.png') }}" class="card-img-top" alt="grafana">
            <div class="card-body">
              <h5 class="card-title">Prometheus + Grafana</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/helm/install" class="btn btn-primary">Install</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='img/helm/kibana.png') }}" class="card-img-top" alt="kibana">
            <div class="card-body">
              <h5 class="card-title">EFK</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/helm/install" class="btn btn-primary">Install</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/deployments.js') }}"></script>

      <!-- Icons -->
      <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
      <script>
        feather.replace()
      </script>

    </body>
    </html>
